<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="content">

    <form th:action="@{/wcs/image/view}">
        <div class="form-group">
            <input type="text" class="custom-file-input files" name="no">
            <table th:each="dto : ${result.dtoList}">
                <tr>
                    <th>
                        [[${dto.no}]]
                    </th>
                </tr>
                <td>
                    <img th:src="|/wcs/image/display?fileName=${dto.img_name}|">
                </td>
            </table>
        </div>
        <div class="box">

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</th:block>
</html>