<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>회원 탈퇴</title>
</head>
<body>
<div class="container">
    <form method="post">
        <label class="form-label mt-4">회원 탈퇴</label>
        <div class="form-floating mb-3">
            <input type="password" name="password" class="form-control" id="password" required>
            <label for="password">비밀번호</label>
        </div>
<!--        <div class="form-floating mb-3 has-danger" th:unless="${wrongPassword == null}">-->
<!--            <input type="password" name="password" class="form-control is-invalid" id="password" required>-->
<!--            <label for="password">비밀번호</label>-->
<!--            <div class="invalid-feedback" th:text="${wrongPassword}"></div>-->
<!--        </div>-->
        <p th:if="${wrongPassword}" class="error" th:text="${wrongPassword}"></p>
        <button type="submit" class="btn btn-primary">회원 탈퇴</button>
    </form>
</div>
</body>
</html>