<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시판</title>
    <link rel="stylesheet" href="/css/style.css" />

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $("#header").load("header"); // 원하는 파일 경로를 삽입하면 된다
        $("#footers").load("footer"); // 추가 인클루드를 원할 경우 이런식으로 추가하면 된다
        $("#quickmenu").load("quickmenu");
      });
    </script>
  </head>

  <body>
    <div id="header"></div>
    <div class="board_wrap">
      <div class="board_title">
        <strong>이미지/에세이 게시판</strong>
      </div>
      <div class="board_list_wrap">
        <div class="board_list">
          <div class="top">
            <div class="num">번호</div>
            <div class="type">타입</div>
            <div class="title">제목</div>
            <div class="writer">글쓴이</div>
            <div class="date">작성일</div>
            <div class="count">추천수</div>
          </div>
          <div th:each="dto : ${result.dtoList}">
            <div class="num">[[${dto.no}]]</div>
            <div class="type" th:if="${dto.image_no == null}">에세이</div>
            <div class="type" th:if="${dto.image_no != null}">이미지</div>
            <div class="title">
              <a
                th:if="${dto.image_no == null}"
                th:href="@{/html/view_essay(no=${dto.no}, page=${result.page}, type= ${pageRequestDTO.type}, keyword= ${pageRequestDTO.keyword})}"
                >[[${dto.post_name}]]</a
              >
              <a
                th:if="${dto.image_no != null}"
                th:href="@{/html/view_image(no=${dto.no}, page=${result.page}, type= ${pageRequestDTO.type}, keyword= ${pageRequestDTO.keyword})}"
                >[[${dto.post_name}]]</a
              >
            </div>
            <div class="writer">[[${dto.writer}]]</div>
            <div class="date">
              [[${#temporals.format(dto.regDate, 'yy/MM/dd')}]]
            </div>
            <div class="count">
              <c th:if="${dto.goodCnt != 0}"> 👍[[${dto.goodCnt}]] </c>
              <c th:if="${dto.goodCnt != 0} and ${dto.badCnt != 0}"> / </c>
              <c th:if="${dto.badCnt != 0}"> 👎[[${dto.badCnt}]] </c>
            </div>
          </div>
        </div>

        <form action="/html/board" method="get" id="searchForm">
          <div class="input-group">
            <input type="hidden" name="page" value="1">
            <div class="input-group-prepend">
              <select class="custom-select" name="type">
                <option th:selected="${pageRequestDTO.type == null}">-------</option>
                <option value="t" th:selected="${pageRequestDTO.type == 't'}" >제목</option>
                <option value="c" th:selected="${pageRequestDTO.type == 'c'}"  >내용</option>
                <option value="w"  th:selected="${pageRequestDTO.type == 'w'}" >작성자</option>
                <option value="tc"  th:selected="${pageRequestDTO.type == 'tc'}" >제목 + 내용</option>
                <option value="tcw"  th:selected="${pageRequestDTO.type == 'tcw'}" >제목 + 내용 + 작성자</option>
              </select>
            </div>
            <input class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
            <div class="input-group-append" id="button-addon4">
              <button class="btn btn-outline-secondary btn-search" type="button">Search</button>
              <button class="btn btn-outline-secondary btn-clear" type="button">Clear</button>
            </div>
          </div>
        </form>

        <div class="board_page">
          <b th:if="${result.prev}">
            <a
              class="bt first"
              th:href="@{/html/board(page= ${1}, type= ${pageRequestDTO.type}, keyword= ${pageRequestDTO.keyword})}"
            >
              <<
            </a>
            <a
              class="bt prev"
              th:href="@{/html/board(page= ${result.start -1}, type= ${pageRequestDTO.type}, keyword= ${pageRequestDTO.keyword})}"
              tabindex="-1"
            >
              <
            </a>
          </b>
          <b th:each="page: ${result.pageList}">
            <a
              class="num"
              th:href="@{/html/board(page= ${page}, type= ${pageRequestDTO.type}, keyword= ${pageRequestDTO.keyword})}"
              >[[${page}]]</a
            >
          </b>
          <b th:if="${result.next}">
            <a
              class="bt next"
              th:href="@{/html/board(page= ${result.end +1}, type= ${pageRequestDTO.type}, keyword= ${pageRequestDTO.keyword})}"
            >
              >
            </a>
            <a
              class="bt last"
              th:href="@{/html/board(page= ${result.totalPage}, type= ${pageRequestDTO.type}, keyword= ${pageRequestDTO.keyword})}"
            >
              >>
            </a>
          </b>
        </div>

        <div class="bt_wrap">
          <a th:href="@{/html/write}" class="'on">등록</a>
          <!-- <a href="#">수정</a> -->
        </div>
      </div>
    </div>
    <div id="footers"></div>
    <div id="quickmenu"></div>
    <script th:inline="javascript">
           var msg = [[${msg}]];
           console.log(msg);
           if(msg) {
               $(".modal-body > p").html(msg);
               $(".modal").modal();
           }
           var searchForm = $("#searchForm");
           $('.btn-search').click(function(e) {
               searchForm.submit();
           });
           $('.btn-clear').click(function(e) {
               searchForm.empty().submit();
           });
  </script>
  </body>
</html>
