<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>이미지</title>
    <link rel="stylesheet" href="/css/css.css" />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $("#header").load("header.html"); // 원하는 파일 경로를 삽입하면 된다
        $("#footers").load("common/footer.html"); // 추가 인클루드를 원할 경우 이런식으로 추가하면 된다
      });
    </script>
  </head>

  <body>
    <div id="header"></div>
    <div class="board_wrap">
      <div class="board_title">
        <strong>이미지</strong>
        <p>이미지</p>
      </div>
      <form th:action="@{/html/view}">
      <div class="board_list_wrap">
        <div class="board_list">
          <div class="top">
            <div class="num">번호</div>
            <div class="type">타입</div>
            <div class="title">제목</div>
            <div class="writer">글쓴이</div>
            <div class="date">작성일</div>
            <div class="count">조회수</div>
          </div>
          <div th:each="dto : ${result.dtoList}">
            <div class="num">[[${dto.no}]]</div>
            <div class="type" th:if="${dto.image_no == null}">에세이</div>
            <div class="type" th:if="${dto.image_no != null}">이미지</div>
            <div class="title">
              <a th:href="@{/html/view(no=${dto.no}, page=${result.page}, type= ${pageRequestDTO.type}, keyword= ${pageRequestDTO.keyword})}">
                [[${dto.post_name}]]
              </a>
            </div>
            <div class="writer">[[${dto.writer}]]</div>
            <div class="date" >[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</div>
            <div class="count">조회수</div>
          </div>
        </div>

        <div class="board_page">
          <b th:if="${result.prev}">
            <a class="bt first"  th:href="@{/html/board(page= ${1}, type= ${pageRequestDTO.type}, keyword= ${pageRequestDTO.keyword})}" > << </a>
            <a class="bt prev"  th:href="@{/html/board(page= ${result.start -1}, type= ${pageRequestDTO.type}, keyword= ${pageRequestDTO.keyword})}" tabindex="-1"> < </a>
          </b>
            <b  th:each="page: ${result.pageList}" >
              <a class="num" th:href="@{/html/board(page= ${page}, type= ${pageRequestDTO.type}, keyword= ${pageRequestDTO.keyword})}">[[${page}]]</a>
            </b>
          <b th:if="${result.next}">
            <a class="bt next"  th:href="@{/html/board(page= ${result.end +1}, type= ${pageRequestDTO.type}, keyword= ${pageRequestDTO.keyword})}"> > </a>
            <a class="bt last"  th:href="@{/html/board(page= ${result.totalPage}, type= ${pageRequestDTO.type}, keyword= ${pageRequestDTO.keyword})}" > >> </a>
          </b>
        </div>

        <div class="bt_wrap">
          <a href="write.html" class="'on">등록</a>
          <!-- <a href="#">수정</a> -->
        </div>
      </div>
      </form>
    </div>
  </body>
</html>