<html>
  <head>
    <link rel="stylesheet" href="../css/head.css">
  </head>
  <body>
    <div id="wrap">
      <header>
         <div>
        <h1 class="logo">
          <a href="board.html"><img src="img/Team02_logo%20.png" /></a>
        </h1>
        <nav class="glb">
          <a href="#">메뉴1</a>
          <a href="#">메뉴2</a>
          <a href="#">메뉴3</a>
          <a href="#">메뉴4</a>
          
        </nav>
      </header>
   </div>
    </div>
    <div id="container">
      <div id="idx_top"></div>
    </div>
  </body>
</html>
