<html>
  <head>
    <link rel="stylesheet" href="/css/css.css">
  </head>
  <body>
    <div id="wrap">
      <header>
         <div>
        <h1 class="logo">
          <a href="board.html"></a>
        </h1>
        <nav class="glb">
          <a href="#">홈</a>
          <a href="#">메뉴2</a>
          <a th:href="@{/html/board}">게시판</a>
          <a href="login.html">로그인</a>

        </nav>
      </header>
   </div>
    </div>
    <div id="container">
      <div id="idx_top"></div>
    </div>
  </body>
</html>
