<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <link rel="stylesheet" href="/css/css.css" />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript">
      $(document).ready(function () {
        $("#header").load("header");
        $("#footers").load("footer");
      });
    </script>
    <link rel="javascript" href="/js/test.js" />
  </head>
  <body>
    <div id="header"></div>
    <div id="loginDiv">
      <form id="registerForm" class="loginForm" action="/html/login" method="post">
        <div class="idInput">
          <input type="text" name="email" class="form-control" placeholder="EMAIL">
        </div>
        <div class="pwInput">
          <input type="password" name="password" class="form-control" placeholder="PASSWORD">
        </div>
        <div class="my-4">
          <div class="float-end">
            <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
            <button type="submit" id="login" class="btn btn-primary submitBtn">LOGIN</button>
            <button type="button" id="sign-in" class="btn btn-primary" onClick="location.href='/html/register'">REGISTER</button>
          </div>
        </div>
       </form>
    </div>
    <div id="footers"></div>
    <script src="/js/login.js"></script>
  </body>
</html>
