<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <link rel="stylesheet" href="../static/css/css.css" />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript">
      $(document).ready(function () {
        $("#header").load("header.html"); // 원하는 파일 경로를 삽입하면 된다
        $("#footers").load("common/footer.html"); // 추가 인클루드를 원할 경우 이런식으로 추가하면 된다
      });
    </script>
    <link rel="javascript" href="../static/js/test.js" />
  </head>
  <body>
    <div id="header"></div>
    <div id="loginDiv">
      <form class="loginForm" id="loginForm" action="#">
        <div class="idInput">
          <input type="text" placeholder="ID" name="id" id="id" /><br />
        </div>
        <div class="pwInput">
          <input
            type="password"
            placeholder="PW"
            name="password"
            id="password"
          />
        </div>
        <br />
        <input type="radio" /> ID 저장<br />
        <button type="submit" id="login" onclick="loginChk()">Login</button>
      </form>
      <button id="sign-in" onclick="location.href='register.html'">
        Sign In
      </button>
    </div>
    <script src="../static/js/login.js"></script>
  </body>
</html>
