<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <title>회원가입</title>

    <script type="text/javascript">
      $(document).ready(function () {
        $("#header").load("header"); // 원하는 파일 경로를 삽입하면 된다
        $("#footers").load("footer"); // 추가 인클루드를 원할 경우 이런식으로 추가하면 된다
      });
    </script>
    <link rel="javascript" href="/js/reg.js" />
    <!-- <link rel="stylesheet" href="/css/css.css" /> -->
    <link rel="stylesheet" href="/src/main/resources/static/css/css.css"
  </head>

  <body>
    <div id="header"></div>
    <div class="register_div">
      <form id="reg_form" class="reg_form" method="post" action="/html/register" modelAttribute="memberDTO">
        <div class="int-area" id="emailBox">
          <input type="text" id="email" name="email" placeholder="Email">
          <br></bre><span th:text="${valid_email}"></span>
        </div>
        <div class="int-area" id="pwBox">
          <input type="password" id="password" name="password" placeholder="Password">
          <br><span th:text="${valid_password}"></span>
        </div>
        <div class="int-area" id="nickNameBox">
          <input type="text" id="nickname" name="nickname" placeholder="Nickname">
          <br><span th:text="${valid_nickname}"></span>
        </div>
        <div class="int-area" id="nameBox">
          <input type="text" id="name" name="name" placeholder="Name">
          <br><span th:text="${valid_name}"></span>
        </div>
        <div class="int-area" id="dateBox">
          <input type="date" id="birth" name="birth" min="1940-01-01" max="2070-12-31">
          <br><span th:text="${valid_birth}"></span>
        </div>
        <div class="int-area" id="addrBox">
          <input type="text" id="mainaddress" name="mainaddress" placeholder="클릭하여 주소를 검색해주세요" readonly onclick="findAddr()"/>
          <br><span th:text="${valid_mainaddress}"></span><br>
          <input type="text" id="subaddress" name="subaddress" placeholder="상세주소를 입력해주세요" />
          <br><span th:text="${valid_subaddress}"></span>
        </div>
        <div class="int-area">
          <button type="submit">가입하기</button>
        </div>
      </form>

    </div>
    <link rel="javascript" href="/js/test.js" />
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
      /* 카카오 API */
      function findAddr() {
        new daum.Postcode({
          oncomplete: function (data) {
            var addr = "";

            if (data.userSelectedType === "R") {
              addr = data.roadAddress;
            } else {
              addr = data.jibunAddress;
            }
            $("#mainaddress").val(addr);
          },
        }).open();
      }
    </script>
<!--    <script src="/js/reg.js"></script>-->
    <div id="footers"></div>
  </body>
</html>
