<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>닉네임 수정</title>
    <link rel="stylesheet" href="/css/style.css" />
    <!--    <link rel="stylesheet" href="/src/main/resources/static/css/css.css" />-->

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap"
            rel="stylesheet"
    />
    <script type="text/javascript">
        $(document).ready(function () {
          $("#header").load("header");
          $("#footers").load("footer");
        });
    </script>
</head>
<body>
<div id="header"></div>
<div class="member_info">
    <form id="meminfo_form" class="meminfo_form" method="post">
        <div class="int-area" id="emailBox">
            <input
                    type="text"
                    id="email"
                    name="email"
                    th:value="${member.email}"
                    readonly
            />
        </div>
        <div class="int-area" id="nickNameBox">
            <input
                    type="text"
                    id="nickname"
                    name="nickname"
                    th:value="${member.nickname}"
                    placeholder="닉네임 입력"
            />
            <input type="hidden" name="password" id="password" th:value="${member.password}"/>
            <input type="hidden" name="name" id="name" th:value="${member.name}"/>
            <input type="hidden" name="birth" id="birth" th:value="${member.birth}"/>
            <input type="hidden" name="mainaddress" id="mainaddress" th:value="${member.mainaddress}"/>
            <input type="hidden" name="subaddress" id="subaddress" th:value="${member.subaddress}"/>
        </div>
        <p th:if="${wrongNickname}" class="error" th:text="${wrongNickname}"></p>
        <button type="submit" id="edit">닉네임 수정하기</button>
    </form>
</div>
<div id="footers"></div>
</body>
</html>
