<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>게시물</title>
    <link rel="stylesheet" href="/css/css.css"/>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/js/review.js"></script>
    <script type="module" src="/js/axios.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#header").load("header"); // 원하는 파일 경로를 삽입하면 된다
            $("#footers").load("common/footer.html"); // 추가 인클루드를 원할 경우 이런식으로 추가하면 된다

            var post_no = [[${dto.no}]];
            var id = "닉네임"+(Math.floor(Math.random()*5+1));
            var txt;
            var good = "이미 추천을 했습니다."
            var bad = "이미 비추천을 했습니다.";
            console.log("id ="+id);

            var _data = { post_no:post_no, id:id };
                function getLatLng() {
                    return new Promise(function (resolve, reject) {
                        $.ajax({
                            url: '/like/"+post_no+"/id',
                            type: 'post',
                            data:JSON.stringify(_data),
                            contentType:'application/json; charset=utf-8',
                            dataType: 'text',
                            success: resolve,
                            error: reject
                        });
                    });
                }
            const promise1 = getLatLng();
            console.log("word", promise1);

            //누르면 추천 기능
            $(".goodBtn").on("click", function() {
            getLatLng();
                var _data = { post_no:post_no, good:1, id:id };
               promise1.then( word => {
                console.log(word);
                if ( word == bad) {
                 console.log(word);
                 alert(word);
                } else {
                     $.ajax({
                          url:"/like/"+post_no+"/good",
                          type:'POST',
                          data:JSON.stringify(_data),
                          contentType:'application/json; charset=utf-8',
                          dataType: 'text',
                          success: function(result){
                              console.log("result :"+result);
                              alert(result);
                              getLatLng();
                              $(".like").load(window.location.href + " .like");
                          }
                     });
                }
                });
            });

          $(".badBtn").on("click", function() {
          getLatLng();
                var _data = { post_no:post_no, bad:1, id:id };
                promise1.then( word => {
                console.log(word);
                if ( word == good) {
                 console.log(word);
                 alert(word);
                } else {
                    $.ajax({
                      url:"/like/"+post_no+"/bad",
                      type:'POST',
                      data:JSON.stringify(_data),
                      contentType:'application/json; charset=utf-8',
                      dataType: 'text',
                      success: function(result){
                          console.log("result :"+result);
                          alert(result);
                          promise1.then(data => {
                            data = result;
                          });
                          $(".like").load(window.location.href + " .like");
                      }
                    });
                }
                });
          });




        });


    </script>
    <style>
        .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 30%;
  height: 30%;

  display: none;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
  display: block;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;

  padding: 0px;

  text-align: center;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateX(-50%) translateY(-50%);
}

    </style>
</head>
<body>

<div id="header"></div>
<div class="board_wrap">
    <div class="board_title">
        <strong>이미지</strong>
        <p>이미지</p>
    </div>
    <div class="board_view_wrap">
        <div class="board_view">
            <div class="title">[[${dto.post_name}]]</div>
            <div class="info">
                <dl>
                    <dt>번호</dt>
                    <dd id="dto_no">[[${dto.no}]]</dd>
                </dl>
                <dl>
                    <dt>글쓴이</dt>
                    <dd>[[${dto.writer}]]</dd>
                </dl>
                <dl>
                    <dt>작성일</dt>
                    <dd>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</dd>
                </dl>
                <dl>
                    <dt>추천수</dt>
                    <dd>11</dd>
                </dl>
            </div>
            <div class="cont">
                <img th:src="|/wcs/image/display2?fileNo=${dto.image_no}|"><br>
                [[${dto.post_content}]]
            </div>
        </div>

        <div class="like" style="text-align:center;">
            <button class="btn goodBtn" type="button">👍</button>
            <c th:if="${dto.goodCnt != 0}">[[${dto.goodCnt}]] &nbsp;</c>
            <button class="btn badBtn" type="button">👎</button>
            <c th:if="${dto.badCnt != 0}">[[${dto.badCnt}]]</c>
        </div>

        <div class="bt_wrap">
            <a th:href="@{/html/board(page= ${requestDTO.page}, type= ${requestDTO.type}, keyword= ${requestDTO.keyword})}"
               class="'on">
                목록
            </a>
        </div>

         <div class="list-group reviewList" id="reviewList">

         </div>


        <div class="reply_content">
            <form onsubmit="addComment(event)">
                <div class="form-group">
                    <textarea name="reply" id="reply"></textarea>
                    <button type="button" class="btn_reply">작성</button>
                </div>
            </form>
            <div class="comments mt-3">


            </div>
        </div>
    </div>
</div>



<div class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Post Review</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>작성자</label>
                <input type="text" class="form-control" name="id" readonly>
            </div>
            <div class="form-group">
                <label>작성 내용</label>
                <input type="text" class="form-control" name="text" placeholder="리뷰 내용">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn modifyBtn" >Modify</button>
            <button type="button" class="btn removeBtn">Remove</button>
        </div>
    </div>
</div>

</body>
</html>
