<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team02작성</title>
    <link rel="stylesheet" href="../css/css.css" />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript">
      $(document).ready(function () {
        $("#header").load("header"); // 원하는 파일 경로를 삽입하면 된다
        $("#footers").load("common/footer.html"); // 추가 인클루드를 원할 경우 이런식으로 추가하면 된다
      });
    </script>
    <link rel="javascript" href="/js/test.js" />
  </head>

  <body>
    <div id="header"></div>
    <div class="board_wrap" id="board_wrap" style="display: block">
      <div class="board_title">
        <strong>도움말</strong><br />

        <div class="q">
          원하는 모드와 목표 시간을 입력후 시작하면 설정한 시간동안 제시된 글
          또는 이미지를 보고 글을 작성 할 수 있습니다.
        </div>
      </div>
    </div>
    <div class="write_warp" id="write_warp">
      <div class="timer">
        <dl>
          <dt>
            글쓰기 목표시간<br />
            (초단위)
          </dt>
          <dd>
            <input type="number" id="timer" min="1" />
          </dd>
        </dl>
      </div>
      <div class="modeSelect">
        <dl>
          <dt>모드를 선택해 주세요</dt>
          <dd>
            <select id="mod" class="mod" onchange="getSelectedValue()">
              <option value="1">이미지</option>
              <option value="2">에세이/소설 한줄</option>
            </select>
          </dd>
        </dl>
      </div>
      <br />
      <div class="btn" onclick="buttonClick()">
        <button>시작하기</button>
      </div>
    </div>

    <div class="write_mode1" id="write_mode1" style="display: none">
      <div id="img"></div>
      <div id="timers"></div>
        <textarea id="write_word" name="img_mode"></textarea><br />
        <button id="upload" style="display: none" onclick="savePost()">등록</button>
    </div>
    <div class="write_mode2" id="write_mode2" style="display: none">
      <form>
        <div id="timers2"></div>
          <textarea id="write_word2" name="Essay-mode"></textarea><br />
          <button id="upload2" style="display: none" onclick="savePost()">등록</button>
      </form>
    </div>
    <script type="application/javascript" src="/js/test.js"></script>
  </body>
</html>
